@media only screen and (max-width: 768px) {
  .ui.secondary.menu > .item {
    justify-content: center;
  }
  .ui.secondary.menu > .menu > .item {
    justify-content: center;
  }

  .ui.card {
    width: 100%;
  }

  .ui.form.register-form {
    margin-top: 20%;
  }

  .ui.form.login-form {
    margin-top: 50%;
  }
}

/* 
style={{ marginTop: "20%" }} 
*/
/* 
style={{ marginTop: "50%" }} */

@media only screen and (min-width: 768px) {
  .ui.form {
    width: 40%;
    margin: auto;
    margin-top: 15%;
  }

  .ui.segment > .image-size {
    width: 62vh;
  }
}

body {
  background-color: #1b1c1d;
}
